.root {
  align-items: flex-start;
  background-color: #f4f5fa;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.menu-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  position: relative;
  width: 236px;
}

.menu-instance {
  display: flex !important;
  height: 5401px !important;
  margin-bottom: -1818px !important;
  overflow: hidden !important;
  width: 236px !important;
}

.design-component-instance-node {
  height: 22px !important;
}

.menu-2 {
  margin-right: -24px !important;
}

.icon-instance-node {
  height: 22px !important;
  position: relative !important;
  width: 22px !important;
}

.container-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: -56px;
  position: relative;
}

.body-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px;
  position: relative;
  width: 100%;
}

.row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.div-6 {
  color: #2e263de6;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.atext-wrapper-9 {
  font-family: var(--basic-typography-h5-font-family);
  font-size: var(--basic-typography-h5-font-size);
  font-style: var(--basic-typography-h5-font-style);
  font-weight: var(--basic-typography-h5-font-weight);
  letter-spacing: var(--basic-typography-h5-letter-spacing);
  line-height: var(--basic-typography-h5-line-height);
}

.atext-wrapper-10 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.frame-4 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.text-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--variables-padding-p-2-duplicate);
  position: relative;
}

.text-wrapper-11 {
  color: #2e263db2;
  font-family: var(--basic-typography-body-1-font-family);
  font-size: var(--basic-typography-body-1-font-size);
  font-style: var(--basic-typography-body-1-font-style);
  font-weight: var(--basic-typography-body-1-font-weight);
  letter-spacing: var(--basic-typography-body-1-letter-spacing);
  line-height: var(--basic-typography-body-1-line-height);
  margin-top: -1px;
  position: relative;
  width: 330px;
}

.chart-2 {
  position: relative;
  width: 94px;
}

.element-2 {
  color: #2e263db2;
  font-family: var(--basic-typography-body-1-font-family);
  font-size: var(--basic-typography-body-1-font-size);
  font-style: var(--basic-typography-body-1-font-style);
  font-weight: var(--basic-typography-body-1-font-weight);
  letter-spacing: var(--basic-typography-body-1-letter-spacing);
  line-height: var(--basic-typography-body-1-line-height);
  position: relative;
  width: 212px;
}

.frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.frame-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 28px;
  position: relative;
  width: 100%;
}

.name-7 {
  color: #2e263db2;
  font-family: var(--basic-typography-body-2-font-family);
  font-size: var(--basic-typography-body-2-font-size);
  font-style: var(--basic-typography-body-2-font-style);
  font-weight: var(--basic-typography-body-2-font-weight);
  letter-spacing: var(--basic-typography-body-2-letter-spacing);
  line-height: var(--basic-typography-body-2-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.title-2 {
  color: #2e263de6;
  font-family: var(--basic-typography-h3-font-family);
  font-size: var(--basic-typography-h3-font-size);
  font-style: var(--basic-typography-h3-font-style);
  font-weight: var(--basic-typography-h3-font-weight);
  letter-spacing: var(--basic-typography-h3-letter-spacing);
  line-height: var(--basic-typography-h3-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.name-8 {
  color: #2e263db2;
  font-family: var(--basic-typography-subtitle-2-font-family);
  font-size: var(--basic-typography-subtitle-2-font-size);
  font-style: var(--basic-typography-subtitle-2-font-style);
  font-weight: var(--basic-typography-subtitle-2-font-weight);
  letter-spacing: var(--basic-typography-subtitle-2-letter-spacing);
  line-height: var(--basic-typography-subtitle-2-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.group {
  height: 12px;
  position: relative;
  width: 212px;
}

.bar-5 {
  background-color: var(--variables-color-palette-secondary-dark);
  border-radius: 3px;
  height: 141px;
  left: 64px;
  position: absolute;
  top: -65px;
  transform: rotate(90deg);
  width: 12px;
}

.bar-6 {
  background-color: #b29df8;
  border-radius: 3px;
  height: 188px;
  left: 112px;
  opacity: 0.12;
  position: absolute;
  top: -88px;
  transform: rotate(90deg);
  width: 12px;
}

.row-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.total-revenue-instance {
  height: 397px !important;
}

.total-revenue-2 {
  left: 77px !important;
}

.chart-3 {
  position: relative;
  width: 445px;
}

.transactions-instance {
  box-shadow: unset !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: 397px !important;
}

.transactions-2 {
  margin-bottom: -41px !important;
  padding: 13px 0px !important;
}

.transactions-3 {
  flex: 1 !important;
  flex-grow: 1 !important;
  padding: 0px var(--variables-misc-card-padding) 50px var(--variables-misc-card-padding) !important;
  width: unset !important;
}

.transactions-4 {
  padding: 0px var(--variables-misc-card-padding) 50px var(--variables-misc-card-padding) !important;
}

.card {
  align-items: flex-start;
  background-color: var(--palette-background-default);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #b29df8;
  border-radius: var(--variables-border-radius-border-radius-md);
  box-shadow: var(--light-elevation-shadow-xl);
  display: flex;
  gap: 36px;
  padding: var(--variables-misc-card-padding) 0px var(--variables-misc-card-padding) 0px;
  position: relative;
  width: 1156px;
}

.image {
  align-self: stretch;
  position: relative;
  width: 322px;
}

.element-image {
  height: 202px;
  left: 114px;
  position: absolute;
  top: -58px;
  width: 134px;
}

.tree {
  height: 41px;
  left: 260px;
  position: absolute;
  top: -9px;
  width: 23px;
}

.overlap {
  height: 41px;
  position: relative;
}

.group-2 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.overlap-group-3 {
  border-radius: 11.44px/15.09px;
  height: 30px;
  position: relative;
}

.oval {
  background-color: #b48bff;
  border-radius: 11.44px/15.09px;
  height: 30px;
  left: 0;
  opacity: 0.68;
  position: absolute;
  top: 0;
  width: 23px;
}

.path {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.path-2 {
  height: 32px;
  left: 9px;
  position: absolute;
  top: 8px;
  width: 5px;
}

.overlap-wrapper {
  height: 16px;
  left: 284px;
  position: absolute;
  top: 20px;
  width: 9px;
}

.overlap-2 {
  height: 16px;
  position: relative;
}

.path-3 {
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.overlap-group-4 {
  height: 12px;
  position: relative;
}

.oval-2 {
  background-color: #b48bff;
  border-radius: 4.56px/6.05px;
  height: 12px;
  left: 0;
  opacity: 0.68;
  position: absolute;
  top: 0;
  width: 9px;
}

.path-4 {
  height: 13px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.tree-2 {
  height: 68px;
  left: 58px;
  position: absolute;
  top: 29px;
  width: 30px;
}

.row-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  height: 126px;
  justify-content: center;
  position: relative;
}

.frame-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.text-4 {
  color: var(--palette-secondary-dark);
  font-family: var(--basic-typography-h4-font-family);
  font-size: var(--basic-typography-h4-font-size);
  font-style: var(--basic-typography-h4-font-style);
  font-weight: var(--basic-typography-h4-font-weight);
  letter-spacing: var(--basic-typography-h4-letter-spacing);
  line-height: var(--basic-typography-h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.icon-3 {
  align-items: flex-start;
  background-color: var(--variables-color-palette-primary-opacity-light);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: var(--variables-padding-p-2);
  position: relative;
}

.icon-instance-node-2 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.text-5 {
  color: var(--palette-secondary-dark);
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.row-4 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
  position: relative;
}

.frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.text-6 {
  color: var(--palette-secondary-dark);
  font-family: var(--basic-typography-h1-font-family);
  font-size: var(--basic-typography-h1-font-size);
  font-style: var(--basic-typography-h1-font-style);
  font-weight: var(--basic-typography-h1-font-weight);
  letter-spacing: var(--basic-typography-h1-letter-spacing);
  line-height: var(--basic-typography-h1-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.text-7 {
  color: var(--palette-secondary-dark);
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -2px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.text-8 {
  color: var(--palette-secondary-dark);
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.row-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.card-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #b29df8;
  border-radius: var(--variables-border-radius-border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--variables-gap-gap-2);
  height: 210px;
  overflow: hidden;
  padding: var(--variables-misc-card-padding);
  position: relative;
  width: 369.33px;
}

.row-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 225px;
}

.frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-right: -49px;
  position: relative;
}

.text-9 {
  color: #2e263de6;
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  width: 274px;
}

.remix-icons-line-wrapper {
  align-items: flex-start;
  background-color: var(--variables-color-palette-primary-opacity-light);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -105px;
  padding: var(--variables-padding-p-2);
  position: relative;
}

.div-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.row-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--variables-padding-p-2);
  position: relative;
  width: 100%;
}

.chip-label {
  align-items: center;
  background-color: var(--primitives-opacity-color-error-error-38);
  border-radius: var(--variables-border-radius-border-round);
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--variables-padding-p-1);
  justify-content: center;
  min-width: 24px;
  padding: 2px var(--primitives-padding-padding-3) 2px var(--primitives-padding-padding-3);
  position: relative;
}

.text-wrapper-12 {
  color: #2e263de6;
  flex: 1;
  font-family: var(--components-typography-chip-font-family);
  font-size: var(--components-typography-chip-font-size);
  font-style: var(--components-typography-chip-font-style);
  font-weight: var(--components-typography-chip-font-weight);
  letter-spacing: var(--components-typography-chip-letter-spacing);
  line-height: var(--components-typography-chip-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.text-10 {
  color: #2e263d66;
  font-family: var(--basic-typography-body-2-font-family);
  font-size: var(--basic-typography-body-2-font-size);
  font-style: var(--basic-typography-body-2-font-style);
  font-weight: var(--basic-typography-body-2-font-weight);
  letter-spacing: var(--basic-typography-body-2-letter-spacing);
  line-height: var(--basic-typography-body-2-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.transactions-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--variables-misc-paper);
  border-radius: var(--variables-border-radius-border-radius-md);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 211px;
}

.card-header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 86px;
  justify-content: center;
  padding: var(--variables-misc-card-header);
  position: relative;
  width: 100%;
}

.select-custome-instance {
  border: 0px none !important;
  border-color: var(--variables-theme-input-border) !important;
  flex: 0 0 auto !important;
  margin-left: -1px !important;
  margin-right: -13px !important;
  width: 185px !important;
}

.select-custome-2 {
  margin-right: -3px !important;
}

.body-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: -5px;
  padding: 12px 0px;
  position: relative;
}

.body-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 412px;
  padding: 0px var(--variables-misc-card-padding) var(--variables-misc-card-padding) var(--variables-misc-card-padding);
  position: relative;
  width: 216px;
}

.div-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--variables-gap-gap-2);
  position: relative;
  width: 100%;
}

.ellipse-3 {
  background-color: #b29df8;
  border-radius: 5px;
  height: 10px;
  position: relative;
  width: 10px;
}

.text-wrapper-13 {
  color: #2e263db2;
  flex: 1;
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.stats-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 18px;
  position: relative;
}

.text-wrapper-14 {
  color: #2e263db2;
  font-family: var(--basic-typography-body-1-500-font-family);
  font-size: var(--basic-typography-body-1-500-font-size);
  font-style: var(--basic-typography-body-1-500-font-style);
  font-weight: var(--basic-typography-body-1-500-font-weight);
  letter-spacing: var(--basic-typography-body-1-500-letter-spacing);
  line-height: var(--basic-typography-body-1-500-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.percentage-3 {
  color: #56ca00;
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.data-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -2px;
  position: relative;
  width: 100%;
}

.chart-4 {
  height: 560px;
  position: relative;
  width: 685px;
}

.frame-10 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.card-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #b29df8;
  border-radius: var(--variables-border-radius-border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--variables-gap-gap-2);
  height: 136px;
  overflow: hidden;
  padding: var(--variables-misc-card-padding);
  position: relative;
  width: 100%;
}

.frame-11 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 141px;
}

.text-11 {
  color: #2e263de6;
  font-family: var(--basic-typography-body-2-font-family);
  font-size: var(--basic-typography-body-2-font-size);
  font-style: var(--basic-typography-body-2-font-style);
  font-weight: var(--basic-typography-body-2-font-weight);
  letter-spacing: var(--basic-typography-body-2-letter-spacing);
  line-height: var(--basic-typography-body-2-line-height);
  margin-right: -37px;
  margin-top: -1px;
  position: relative;
  width: 178px;
}

.card-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #b29df8;
  border-radius: var(--variables-border-radius-border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--variables-gap-gap-2);
  height: 213px;
  overflow: hidden;
  padding: var(--variables-misc-card-padding);
  position: relative;
  width: 100%;
}

.icon-4 {
  align-items: flex-start;
  background-color: var(--variables-color-palette-primary-opacity-light);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: var(--variables-padding-p-2);
  position: relative;
  width: 212px;
}

.chart-5 {
  position: relative;
  width: 1156px;
}

.card-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: var(--variables-border-radius-border-radius-md);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 12px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.body-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: var(--variables-misc-card-padding) 4px var(--variables-misc-card-padding) 4px;
  position: relative;
  width: 215px;
}

.chart-6 {
  height: 24px;
  margin-right: -3.5px;
  position: relative;
  transform: rotate(-180deg);
  width: 210.5px;
}

.overlap-group-5 {
  height: 24px;
  position: relative;
  width: 210px;
}

.bar-7 {
  background-color: #55d8af;
  border-radius: var(--shape-borderradius);
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 210px;
}

.bar-8 {
  background-color: #f8e0cb;
  height: 24px;
  left: 83px;
  position: absolute;
  top: 0;
  width: 70px;
}

.bar-9 {
  background-color: #aaeedc;
  height: 24px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 53px;
}

.bar-10 {
  background-color: #fab5b7;
  height: 24px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 46px;
}

.bar-11 {
  background-color: #dc6d71;
  border-radius: 0px 4px 4px 0px;
  height: 24px;
  left: 198px;
  position: absolute;
  top: 0;
  width: 12px;
}

.deta {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--variables-gap-gap-3);
  position: relative;
  width: 100%;
}

.text-12 {
  color: #2e263de6;
  font-family: var(--basic-typography-body-2-font-family);
  font-size: var(--basic-typography-body-2-font-size);
  font-style: var(--basic-typography-body-2-font-style);
  font-weight: var(--basic-typography-body-2-font-weight);
  letter-spacing: var(--basic-typography-body-2-letter-spacing);
  line-height: var(--basic-typography-body-2-line-height);
  margin-right: -2px;
  margin-top: -1px;
  position: relative;
  width: 209px;
}

.row-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
  width: 100%;
}

.text-13 {
  color: #2e263de6;
  font-family: var(--basic-typography-body-2-500-font-family);
  font-size: var(--basic-typography-body-2-500-font-size);
  font-style: var(--basic-typography-body-2-500-font-style);
  font-weight: var(--basic-typography-body-2-500-font-weight);
  letter-spacing: var(--basic-typography-body-2-500-letter-spacing);
  line-height: var(--basic-typography-body-2-500-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-14 {
  color: #2e263db2;
  font-family: var(--basic-typography-caption-font-family);
  font-size: var(--basic-typography-caption-font-size);
  font-style: var(--basic-typography-caption-font-style);
  font-weight: var(--basic-typography-caption-font-weight);
  letter-spacing: var(--basic-typography-caption-letter-spacing);
  line-height: var(--basic-typography-caption-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-you-are {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: var(--variables-border-radius-border-radius-md);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 802px;
}

.card-header-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: var(--variables-misc-card-header);
  position: relative;
  width: 100%;
}

.frame-12 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 638px;
  position: relative;
}

.text-wrapper-15 {
  color: var(--variables-theme-text-primary);
  font-family: var(--basic-typography-body-2-font-family);
  font-size: var(--basic-typography-body-2-font-size);
  font-style: var(--basic-typography-body-2-font-style);
  font-weight: var(--basic-typography-body-2-font-weight);
  letter-spacing: var(--basic-typography-body-2-letter-spacing);
  line-height: var(--basic-typography-body-2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-wrapper-16 {
  align-self: stretch;
  color: var(--variables-theme-text-primary);
  font-family: var(--basic-typography-h6-font-family);
  font-size: var(--basic-typography-h6-font-size);
  font-style: var(--basic-typography-h6-font-style);
  font-weight: var(--basic-typography-h6-font-weight);
  letter-spacing: var(--basic-typography-h6-letter-spacing);
  line-height: var(--basic-typography-h6-line-height);
  position: relative;
}

.card-body {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: var(--variables-padding-p-2) var(--variables-misc-card-padding) var(--variables-misc-card-padding)
    var(--variables-misc-card-padding);
  position: relative;
  width: 100%;
}

.list-2 {
  align-items: flex-start;
  display: flex;
  gap: var(--variables-gap-gap-2);
  height: 76px;
  position: relative;
  width: 122px;
}

.text-15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -2px;
  position: relative;
  width: 124px;
}

.text-16 {
  color: #2e263db2;
  font-family: var(--basic-typography-body-2-font-family);
  font-size: var(--basic-typography-body-2-font-size);
  font-style: var(--basic-typography-body-2-font-style);
  font-weight: var(--basic-typography-body-2-font-weight);
  letter-spacing: var(--basic-typography-body-2-letter-spacing);
  line-height: var(--basic-typography-body-2-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.text-17 {
  color: #2e263de6;
  font-family: var(--basic-typography-h2-font-family);
  font-size: var(--basic-typography-h2-font-size);
  font-style: var(--basic-typography-h2-font-style);
  font-weight: var(--basic-typography-h2-font-weight);
  letter-spacing: var(--basic-typography-h2-letter-spacing);
  line-height: var(--basic-typography-h2-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.list-3 {
  align-items: flex-start;
  display: flex;
  gap: var(--variables-gap-gap-2);
  position: relative;
  width: 122px;
}

.text-18 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.rectangle {
  height: 77px;
  position: relative;
  width: 124px;
}

.row-9 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.list-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f3f6fb;
  display: flex;
  gap: var(--variables-gap-gap-2);
  padding: 8px 12px;
  position: relative;
  width: 124px;
}

.text-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 38px;
  position: relative;
  width: 82px;
}

.text-20 {
  color: #2e263de6;
  font-family: var(--basic-typography-h6-font-family);
  font-size: var(--basic-typography-h6-font-size);
  font-style: var(--basic-typography-h6-font-style);
  font-weight: var(--basic-typography-h6-font-weight);
  letter-spacing: var(--basic-typography-h6-letter-spacing);
  line-height: var(--basic-typography-h6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -16px;
  position: relative;
}

.text-21 {
  align-self: stretch;
  color: #2e263de6;
  font-family: var(--basic-typography-h3-font-family);
  font-size: var(--basic-typography-h3-font-size);
  font-style: var(--basic-typography-h3-font-style);
  font-weight: var(--basic-typography-h3-font-weight);
  letter-spacing: var(--basic-typography-h3-letter-spacing);
  line-height: var(--basic-typography-h3-line-height);
  margin-top: -1px;
  position: relative;
}

.text-22 {
  align-self: stretch;
  color: #2e263db2;
  font-family: var(--basic-typography-body-2-font-family);
  font-size: var(--basic-typography-body-2-font-size);
  font-style: var(--basic-typography-body-2-font-style);
  font-weight: var(--basic-typography-body-2-font-weight);
  letter-spacing: var(--basic-typography-body-2-letter-spacing);
  line-height: var(--basic-typography-body-2-line-height);
  position: relative;
}

.list-5 {
  align-items: flex-start;
  background-color: #f3f6fb;
  display: flex;
  gap: var(--variables-gap-gap-2);
  padding: 8px 12px;
  position: relative;
  width: 124px;
}

.text-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 82px;
}

.text-24 {
  color: #2e263de6;
  font-family: var(--basic-typography-h6-font-family);
  font-size: var(--basic-typography-h6-font-size);
  font-style: var(--basic-typography-h6-font-style);
  font-weight: var(--basic-typography-h6-font-weight);
  letter-spacing: var(--basic-typography-h6-letter-spacing);
  line-height: var(--basic-typography-h6-line-height);
  margin-right: -16px;
  margin-top: -1px;
  position: relative;
  width: 98px;
}

.list-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f3f6fb;
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  position: relative;
  width: 124px;
}

.text-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 38px;
  position: relative;
}

.text-26 {
  color: #2e263de6;
  font-family: var(--basic-typography-h6-font-family);
  font-size: var(--basic-typography-h6-font-size);
  font-style: var(--basic-typography-h6-font-style);
  font-weight: var(--basic-typography-h6-font-weight);
  letter-spacing: var(--basic-typography-h6-letter-spacing);
  line-height: var(--basic-typography-h6-line-height);
  margin-right: -12px;
  margin-top: -1px;
  position: relative;
  width: 112px;
}

.frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.new-project {
  align-items: flex-start;
  background-color: var(--variables-misc-paper);
  border-radius: var(--variables-border-radius-border-radius-md);
  display: inline-flex;
  flex: 0 0 auto;
  height: 270px;
  padding: 12px;
  position: relative;
}

.text-27 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--variables-gap-gap-1);
  margin-bottom: -1px;
  position: relative;
}

.frame-16 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  position: relative;
}

.name-9 {
  color: #2e263de6;
  font-family: var(--basic-typography-body-1-500-font-family);
  font-size: var(--basic-typography-body-1-500-font-size);
  font-style: var(--basic-typography-body-1-500-font-style);
  font-weight: var(--basic-typography-body-1-500-font-weight);
  letter-spacing: var(--basic-typography-body-1-500-letter-spacing);
  line-height: var(--basic-typography-body-1-500-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-17 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.name-10 {
  align-self: stretch;
  color: #2e263db2;
  font-family: var(--basic-typography-body-2-500-font-family);
  font-size: var(--basic-typography-body-2-500-font-size);
  font-style: var(--basic-typography-body-2-500-font-style);
  font-weight: var(--basic-typography-body-2-500-font-weight);
  letter-spacing: var(--basic-typography-body-2-500-letter-spacing);
  line-height: var(--basic-typography-body-2-500-line-height);
  margin-top: -1px;
  position: relative;
}

.divider {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.name-11 {
  align-self: stretch;
  color: #2e263db2;
  font-family: var(--basic-typography-body-2-500-font-family);
  font-size: var(--basic-typography-body-2-500-font-size);
  font-style: var(--basic-typography-body-2-500-font-style);
  font-weight: var(--basic-typography-body-2-500-font-weight);
  letter-spacing: var(--basic-typography-body-2-500-letter-spacing);
  line-height: var(--basic-typography-body-2-500-line-height);
  position: relative;
}

.frame-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 169px;
  margin-bottom: -3px;
  position: relative;
  width: 40px;
}

.remix-icons-line-map-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--variables-color-palette-primary-opacity-light);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  padding: var(--variables-padding-p-2);
  position: relative;
  width: 100%;
}

.remix-icons-line-system-arrow-right-line-1-wrapper {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  padding: var(--variables-padding-p-2);
  position: relative;
  width: 100%;
}

.card-6 {
  align-items: flex-start;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #b29df8;
  border-radius: var(--variables-border-radius-border-radius-md);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  height: 155px;
  overflow: hidden;
  padding: var(--variables-misc-card-padding);
  position: relative;
}

.row-10 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 225px;
}

.frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-right: -70px;
  position: relative;
}

.text-28 {
  color: #2e263de6;
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  width: 295px;
}

.remix-icons-line-map-car-line-3-wrapper {
  align-items: flex-start;
  background-color: var(--variables-color-palette-primary-opacity-light);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  margin-left: -1px;
  margin-right: -109px;
  padding: var(--variables-padding-p-2);
  position: relative;
}

.chip-label-2 {
  align-items: center;
  background-color: #2e263d14;
  border-radius: var(--variables-border-radius-border-round);
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--variables-padding-p-1);
  justify-content: center;
  min-width: 24px;
  padding: 2px var(--primitives-padding-padding-3) 2px var(--primitives-padding-padding-3);
  position: relative;
}

.row-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -5px;
  position: relative;
  width: 100%;
}

.row-11 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.div-9 {
  flex: 0 0 auto;
  position: relative;
}
